@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="d-flex flex-wrap">
    <div class="card" style="margin:5px; box-shadow:2px;">
        <div class="card-body form-group" style="font-family: Arial, Helvetica, sans-serif">
        Hey! Glad to see you visiting this page!
        Privacy is an important matter and we do take it seriously, and so should you.


        Any information we store about you are for the purpose of devlivering
        our service to you. 
          
        The pesonal data we keep about you can be found here
        <a href="https://localhost:44391/Identity/Account/Manage/PersonalData"> Your Personal Data</a>
        
      
        With The download data you can see what information we save about you.
       
        At anytime you have the right to request your personal data, you also have the right to get your data modified or totally removed.

        Do note that the data we save is only used for proccesing your orders. It will never be shared to any third party.

        If you any questions or concerns, don't hestite to contact us on info@picshop.com
        <br>
        Have a lovely day
        /PicShop Crew






        </div>
    </div>
</div>
